
.input{
    position: relative;
    height: 40px;
    width: 90%;
    font-size: 1rem;
    margin: 10px auto;
    border: transparent;
    border-radius: 10px;
    padding: 0.5rem;
    outline: none;
}

.input:focus{
    border: var(--HighColor) solid 2px;
}