
*{
    background-color: #eee;
}

#home{
    padding: 1rem;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: larger;
    font-weight: bold;
}

.menu,
.foto{
    width: 50px;
    height: 50px;
}


#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.box{
    aspect-ratio: 1/1;
    background-color: purple;
    color: aliceblue;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 1rem
}