@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --LowColor:#8343cc;
  --HighColor: #5700bb;
  /* background-image: linear-gradient(95deg ,var(--LowColor) 40%, var(--HighColor)); */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, monospace;
}

.App {
  text-align: start;
}

.centered{
  margin: 0 auto;
}