@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

html{
  min-height: 100vh;
  background-color: #1C1B1F;
  font-family: Roboto, Tahoma, Verdana, sans-serif;
  color: #E6E1E5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  background: linear-gradient(0deg, #1C1B1F, #1C1B1F),
  linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08));
  
}